{% extends 'base.html' %}
{% load static %}

{% block title %}blog detials{% endblock title %}
{%block body%}

{% include 'user/search.html' %} 


<div dir="rtl">
    <!-- bradcam_area  -->



<div class="bradcam_text " >
    <h3 >تفاصيل المقاله</h3>
</div>

  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
<div class="container">
    <div class="row">
    <div class="col-lg-8 posts-list">
        <div class="single-post">
            <div class="feature-img">
                    
                <img class="img-fluid image-detail" src="{{detail.img.url}}"  width= 100% alt="">
                <div class="jobs_right">
                    <div class="apply_now">
                        <a class="boxed-btn3" href="{% url 'blog:add_post' %}">اضافه المقالة</a>
                        <a class="boxed-btn3" href="{% url 'blog:edit_post' detail.id %}">تعديل المقالة</a>
                        <a class="boxed-btn3 delete_blog"  href="{% url 'blog:delete_post' detail.id %}" >حذف المقالة</a>
                    </div>
                </div>
            </div>
            <div class="blog_details">
                
                <h2>{{detail.title}}</h2>
                <h3>{{detail.description}}</h3>
                <a id="likebutton" class=" btn btn-primary btn-lg" id="like" name=""  data-catid="" href="{{detail.get_like_url}}" data-catid="">Like {{detail.likes.count}}</a> </p> <p id="message"></p>
                <ul class="blog-info-link mt-3 mb-4">
                <li><a href="#"><i class="fa fa-user"></i><p>تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك</p> </a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 4 كومنتات</a></li>
                </ul>
                <p class="excert">جميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك</p></p>
                <p>الوثف</p>
                <div >
                    <p>تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك تجميل و زراعه الاسنان  بكالريوس علوم جامعة بورك</p>
                </div>
            </div>
        </div>
        <div class="navigation-top">
            <div class="d-sm-flex justify-content-between text-center">
                <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                people like this</p>
                <div class="col-sm-4 text-center my-2 my-sm-0">
                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                </div>
                <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="blog-author">
            <div class="media align-items-center">
                <img src="img/blog/author.png" alt="">
                <div class="media-body">
                <a href="#">
                    <h4>تم النشر بواسطه <span style="color: blue;">اسم المؤلف</span> في تاريخ <span style="color: blue;">2/2/2020</span></h4>
                </a>
                <p>{{object.author.profile.subtitle}}</p>
                </div>
            </div>
        </div>
        <div class="comments-area">
            <h4>05 Comments</h4>
            <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <img src="img/comment/comment_2.png" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">هذا المقال مفيد جدا
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5>
                                        <a href="#">محمود رؤف</a>
                                    </h5>
                                    <p class="date">2/2/2020 </p>
                                </div>
                                <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="comment-form">
            <h4>Leave a Reply</h4>
            <form method="POST" class="form-contact comment_form" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="comments" id="comments" cols="30" rows="9"
                            placeholder="Write Comment"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                    </div>
                </div>
        
                </div>
                <div class="form-group">
                <button type="submit" class="button button-contactForm btn_1 boxed-btn" >Send Message</button>
                
            </div>
            </form>
        </div>        </div>
    <div class="col-lg-4">
        <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget search_widget">

               
                {% include 'blog/search_blog.html' %}

                </aside>
                <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">أحدث المقالات</h3>

                        {% for olds in old %}
                        <div class="media post_item">
                                <img src="img/blog/single_blog_1.png" alt="" style="width: 30spx; height: 30px;">
                            <div class="media-body">
                                <a href="{% url 'blog:blog_detail' olds.slug %}">

                                    <h3>{{olds.title}}</h3>
                                </a>
                                <p>تم النتشر في : <span style="color: #00D363;">{{olds.created_in|date:'j n Y'}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    

                </aside>
        </div>
    </div>
    </div>
</div>
</section>
</div>

{% endblock %}